{% extends 'base.html.twig' %}

{% block body %}
    <div id="room" itemscope="" itemtype="http://schema.org/Product">
        <div id="photos" class="with-photos with-modal">
            <span class="cover-img-container" data-hook="cover-img-container">
              <div class="cover-img show-sm" data-hook="img-sm" style="background-image: url(images/emotional.jpg);">
              </div>
              <div class="cover-img hide-sm" data-hook="img -lg" style="background-image: url(images/emotional.jpg)">
              </div>
            </span>
        </div>
        <div id="summary" class="panel room-section">
            <div class="page-container-responsive">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row-space-4 row-space-top-4">
                            <div class="row">
                                <div class="col-md-3 space-sm-4 text-center space-sm-2">
                                    <div class="media-photo-badge">
                                        <a href="#" class="media-photo media-round">
                                            <img alt="User Profile Image" class="host-profile-image"
                                                 data-pin-nopin="true" height="115" src="images/original(1).jpg"
                                                 title="Liz" width="115">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <h1 itemprop="name" class="overflow h3 row-space-1 text-center-sm"
                                        id="listing_name">
                                        Central London Luxury River View
                                    </h1>

                                    <div id="display-address" class="row-space-2 text-muted text-center-sm"
                                         itemprop="aggregateRating" itemscope=""
                                         itemtype="http://schema.org/AggregateRating"
                                         data-location="London, United Kingdom">
                                        <a href="#" class="link-reset">London, United Kingdom</a>
                                    </div>
                                    <div class="row row-condensed text-muted text-center">
                                        <div class="col-sm-3">
                                            <i class="icon icon-entire-place icon-size-2"></i>
                                        </div>
                                        <div class="col-sm-3">
                                            <i class="icon icon-group icon-size-2"></i>
                                        </div>
                                        <div class="col-sm-3">
                                            <i class="icon icon-rooms icon-size-2"></i>
                                        </div>
                                        <div class="col-sm-3">
                                            <i class="icon icon-double-bed icon-size-2"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 text-muted text-center hide-sm">
                                    <a href="#" class="link-reset text-wrap">Liz</a>
                                </div>
                                <div class="col-md-9">
                                    <div class="row row-condensed text-muted text-center">
                                        <div class="col-sm-3">
                                            Entire home/flat
                                        </div>
                                        <div class="col-sm-3">
                                            6 Guests
                                        </div>
                                        <div class="col-sm-3">
                                            2 Bedrooms
                                        </div>
                                        <div class="col-sm-3">
                                            3 Beds
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <form accept-charset="UTF-8" action="/" id="book_it_form" method="post">
                            <div style="margin:0;padding:0;display:inline">
                                <input name="price" type="hidden" value="£250">
                                <input name="authenticity_token" type="hidden" value="">
                            </div>
                            <div id="pricing" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                <div id="price_amount" class="book-it-price-amount pull-left h3 text-special">£250</div>
                                <i class="icon icon-bolt icon-beach pull-left h3 pricing__bolt"></i>

                                <div id="payment-period-container" class="pull-right">
                                    <div id="per_night" class="per-night">
                                        Per Night
                                    </div>
                                    <div id="per_month" class="per-month hide">
                                        Per Month
                                    </div>
                                </div>
                            </div>
                            <div id="book_it">
                                <div class="panel book-it-panel">
                                    <div class="panel-body panel-light">
                                        <div class="form-fields">
                                            <div class="row row-condensed space-3">
                                                <div class="col-md-9">
                                                    <div class="row row-condensed">
                                                        <div class="col-sm-6 space-1-sm">
                                                            <label for="checkin">
                                                                Check In
                                                            </label>
                                                            <input class="checkin ui-datepicker-target" id="checkin"
                                                                   name="checkin" placeholder="dd-mm-yyyy" type="text">
                                                        </div>
                                                        <div class="col-sm-6 space-1-sm">
                                                            <label for="checkout">
                                                                Check Out
                                                            </label>
                                                            <input class="checkout ui-datepicker-target" id="checkout"
                                                                   name="checkout" placeholder="dd-mm-yyyy" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <label for="number_of_guests">
                                                        Guests
                                                    </label>

                                                    <div class="select select-block">
                                                        <select id="number_of_guests" name="number_of_guests">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="simple-dates-message-container hide">
                                                <div class="media text-kazan space-top-2 space-2">
                                                    <div class="pull-left message-icon">
                                                        <i class="icon icon-currency-gbp"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <strong>
                                                            Enter dates for accurate prices and availability.
                                                        </strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="js-book-it-status">
                                            <div class="js-book-it-enabled clearfix">
                                                <div class="js-subtotal-container book-it__subtotal panel-padding-fit">
                                                    <table class="table table-bordered">
                                                        <tbody>
                                                        <tr>
                                                            <td>
                                                                Price per night
                                                            </td>
                                                            <td id="price_night_cell">£250</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                Nights count
                                                            </td>
                                                            <td id="night_count_cell">4</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Total</td>
                                                            <td id="total_cell">£1000</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="js-book-it-btn-container">
                                                    <button type="button" class="js-book-it-btn btn btn-large btn-block btn-primary" id="start-booking">
                                                        <span class="book-it__btn-text">
                                                          Book
                                                        </span>
                                                    </button>
                                                </div>
                                                <p class="text-muted book-it__btn-text--instant-alt space-1 space-top-3 text-center">
                                                    <small>
                                                        You’ll be able to review before paying.
                                                    </small>
                                                </p>
                                            </div>

                                            <div id="book_it_disabled" class="text-center hide">
                                                <p id="book_it_disabled_message" class="icon-rausch">Please specify
                                                    check in and check out dates</p>
                                                <a href="" class="btn btn-large btn-block"
                                                   id="view_other_listings_button">
                                                    View Other Listings
                                                </a>
                                            </div>
                                        </div>
                                        <div class="fancy-dates-message-container va-container va-container-h space-top-3 hide hide-sm">
                                            <div class="illustration-container va-middle">
                                                <div class="text">
                                                    <strong>
                                                        When are you travelling?
                                                    </strong><br>
                                                    Enter dates for accurate prices and availability.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="book-it-message-container hide">
                                            <hr>
                                            <div class="listing-desirability hide" data-behavior="occupancy_rate">
                                                <div class="icon-background-container icon-rare-find-background">
                                                    <div class="message-text">
                                                        <strong>This is a rare find.</strong>

                                                        <div class="media space-top-1">
                                                            Liz's place is usually booked.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="listing-desirability hide" data-behavior="dated_views">
                                                <div class="icon-background-container icon-clock-background">
                                                    <div class="message-text">
                                                        <strong>Love this place? Book soon!</strong>

                                                        <div class="media space-top-1" data-behavior="dated_views_body">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="details" class="details-section webkit-render-fix">
            <div class="page-container-responsive">
                <div class="row">
                    <div class="col-lg-8" id="details-column">
                        <div class="row-space-8 row-space-top-8">
                            <h4 class="row-space-4 text-center-sm">
                                About This Listing
                            </h4>

                            <p>Five star Luxury apartment Thames river view from the balcony.
                                <br>Walking distance to Westminster Big Ben, parliament, London Eye, major museums,
                                galleries and theaters.
                                <br>Very large apartment with top quality furniture.
                                <br>24 hours security concierge.
                            </p>

                            <div class="js-p3-safety-features-section">
                                <div class="row">
                                    <hr>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="text-muted">
                                            Availability
                                        </div>

                                    </div>
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <strong>1 night</strong> minimum stay
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul id="lightGallery" class="photo-grid row-space-4 row-space-top-4">
                                    <li data-src="images/56626934_original.jpg" class="col-6 featured-height">
                                        <img src="images/56626934_original.jpg" width="330" height="282"/>
                                    </li>
                                    <li data-src="images/1e76627f_original.jpg" class="col-6 featured-height">
                                        <img src="images/1e76627f_original.jpg" width="330" height="282"/>
                                    </li>
                                    <li data-src="images/c4e9e396_original.jpg" class="col-4 supporting-height">
                                        <img src="images/c4e9e396_original.jpg" width="217" height="141"/>
                                    </li>
                                    <li data-src="images/a837eb98_original.jpg" class="col-4 supporting-height">
                                        <img src="images/a837eb98_original.jpg" width="217" height="141"/>
                                    </li>
                                    <li data-src="images/449263d2_original.jpg" class="col-4 supporting-height">
                                        <div class="media-cover media-cover-dark">
                                            <img src="images/449263d2_original.jpg" width="217" height="141"/>
                                        </div>
                                        <div class="row row-table row-full-height">
                                            <div class="col-12 col-middle text-center text-contrast">
                                                <div class="h5">
                                                    See all 34 photos
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li data-src="images/a837eb98_original.jpg" class="hide">
                                        <img src="images/a837eb98_original.jpg" width="217" height="141"/>
                                    </li>
                                    <li data-src="images/a837eb98_original.jpg" class="hide">
                                        <img src="images/a837eb98_original.jpg" width="217" height="141"/>
                                    </li>
                                    <li data-src="images/a837eb98_original.jpg" class="hide">
                                        <img src="images/a837eb98_original.jpg" width="217" height="141"/>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="host-profile" class="room-section webkit-render-fix">
                <div class="page-container-responsive space-top-8 space-8">
                    <div class="row">
                        <div class="col-lg-8">
                            <h4 class="row-space-4 text-center-sm">
                                About the Host, Liz
                            </h4>

                            <div class="row">
                                <div class="col-md-3 text-center">
                                    <a href="/" class="media-photo media-round">
                                        <img alt="Liz" data-pin-nopin="true" height="90" src="images/original(1).jpg"
                                             title="Liz" width="90">
                                    </a>
                                </div>
                                <div class="col-md-9">
                                    <div class="expandable expandable-trigger-more space-2 expanded">
                                        <div class="expandable-content">
                                            <p>I consider myself lucky to have this apartment in them most amazing part
                                                of
                                                central London. It allow me to meet such amazing guests who love
                                                theaters
                                                and musicals.
                                            </p>

                                            <div class="expandable-indicator"></div>
                                        </div>
                                        <a class="expandable-trigger-more"
                                           href="https://www.airbnb.co.uk/rooms/6973482?checkin=02-07-2015&checkout=08-07-2015&s=HBEZ#">
                                            <strong>+ More</strong>
                                        </a>

                                    </div>
                                    <div class="row row-condensed space-2">
                                        <div class="col-md-6">
                                            <div>London, United Kingdom</div>
                                            <div>
                                                Member since January 2015
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            Response rate:
                                            <strong>98%</strong>
                                            <small class="response-details text-muted hide">
                                                (past 30 days)
                                            </small>
                                            <div>
                                                Response time:
                                                <strong>within an hour</strong>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <hr class="space-4 space-top-4">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="text-muted">
                                        Trust
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="row row-condensed">
                                        <div class="col-sm-4 col-md-3">
                                            <a class="link-reset" rel="nofollow" href="/">
                                                <div class="text-center text-wrap">
                                                    <div class="badge-pill h3">
                                                        <span class="badge-pill-count">16</span>
                                                    </div>
                                                    <div class="row-space-top-1">Reviews</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
